/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.heading{
  font-size: 3rem;
  text-align: center;
}

.list{
  font-size: 1.6rem;
  list-style:decimal;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.list-items{
  margin: auto;
}
.username,.button{
  text-align: center;
  display: block;
  margin: 20px auto;
  padding: 5px 8px;  
  border-radius: 5px;
  border: 1px solid black;
}
.username{
  font-size: 1.5rem;
}

.button{
  background:rgb(109, 38, 222);
  color: white;
  border:none;
  border-radius: 16px;
  padding: 10px 15px;
  text-transform: uppercase;
  width: 7rem;
  text-decoration: none;
}

/* // Quiz button  */

.grid{
  width: 50%;
  display: flex;
  justify-content:space-between;
  margin: auto;
  margin-top: 5rem;
}

.btn{
  width: 5rem;
  padding: 8px;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid gray;
  cursor: pointer;
}
.prev{
  background: rgb(91, 211, 11);
  color: white;
}
.next{
  background: rgb(7, 94, 29);
  color: white;
}


/* questions  */

 .s-question{
  margin-left:2rem;
} 

.questions{
  width: 60%;
  margin: auto;
  background: red;
  padding: 2rem;
}


/* input radio  */

/* input[type=radio]:checked ~ .check{
  border: 5px solid green;
}

input[type=radio]:checked ~ .check::before{
  background: green;
}

input[type=radio]:checked ~ .option{
  color: green;
}

.checked{
  border: 5px solid green !important;
}

.checked::before{
  background: green;
} */


:root{
  --primary-color: #0DFF92;
  --dark-color:#222222;
  --light-color: #f0f0f0;
}

ul li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
	border-bottom: 1px solid #333;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label{
	color: #FFFFFF;
}

ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

ul li:hover .checked {
  border: 5px solid #FFFFFF;
}

ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}


input[type=radio]:checked ~ .check {
  border: 5px solid var(--primary-color)
}

input[type=radio]:checked ~ .check::before{
  background: var(--primary-color)
}

input[type=radio]:checked ~ .text-primary{
  color: var(--primary-color)
} 

/* To get selected option we are using this checked class */
.checked {
  border: 5px solid var(--primary-color) !important;
}

.checked::before{
  background: var(--primary-color)
}